[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
solax = "*"
pytest = "*"
apscheduler = "*"
loguru = "*"
stringcase = "*"
tortoise-orm = "*"
typer = "*"
pyinstaller = "*"

[dev-packages]

[requires]
python_version = "3.9"
